
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: gray;
  height: 100%;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  height: 100vh;
  flex-direction: column;
}

.imagem-back {
  height: 100vh;
  background-image: url('./assets/img/fundo.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}

.content .titulo1 {
  font-family: "Montserrat";
  font-weight: 300;
}

h1 {
  color: white;
  font-size: 4rem;
}

.image-container img {
  height: 50vh;
}


@media (min-width: 701px) {
  .home {
    flex-direction: row; 
  }

  .content {
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
  }

  h1 {
    margin-right: 20px; 
  }

  .image-container img {
    height: 70vh;
  }
}
