* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral */
body, html {
  height: 100%;
  margin: 0;
  background-color: gray;
}

.App {
  font-family: Arial, sans-serif;
  position: relative; /* Para permitir que o menu flutue */
}

/* Definição da imagem de fundo */
.background {
  background-image: url('/imagem-fundo.jpg'); /* Aqui você deve colocar o caminho da sua imagem de fundo */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s;
}

/* Container principal para alinhar os elementos */
.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  z-index: 1;
}

.title {
  color: white;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
  max-width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title h1 {
  margin: 0;
}

.title h2 {
  margin: 0;
}

/* Estilo para a imagem à direita */
.image-right {
  width: 40%;
  border: 5px solid white;
}

.image-right img {
  width: 100%;
  height: auto;
}

/* Estilo do botão que abre o menu */
.menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 101; /* Certifica que o botão ficará acima do conteúdo */
}

.menu-btn:hover {
  background-color: #444;
}
